<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div id="title">
        <h1>Welcome to To-Do-List</h1>
        <p>by Restu Manujaya</p>
    </div>
    
    <div id="main-container">
        <div id="task-form">
            <input type="text" placeholder="Enter task..." id="task-input" name="task" style="min-width: 50%;">
            <button type="button" id="add-button">Add</button>
        </div>
        
        <ul id="task-list">
            <div class="task-items">
                <div id="circle-status"></div>
                <li>item1</li>      
            </div>
        </ul>
    </div>
</body>
</html>